*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ol li{list-style: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    padding: 30px;
}

.wrap {
    width: 1440px;
    height: 1700px;
    background-color: #e8e8e8;
    margin: 0 auto;
    padding: 163px 290px 0;
}

.u-one {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
    margin: 0 0 40px 0;
}
.u-one li::before{
    content: url('../img/check_icon_40.png');
    display: inline-block;
    padding: 0 10px 0 0;
}
.u-one li:nth-child(1){text-decoration: line-through;}
.u-one li:nth-child(2){font-weight: 700;}
.u-one li:nth-child(3){font-style: italic;}
.u-one li:nth-child(4){text-transform: uppercase;}

.u-two {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
    margin: 40px 0 69px 0;
}
.u-two li::before{
    content: url('../img/check_icon_40.png');
    display: inline-block;
    padding: 0 10px 0 0;
}
.u-two li:hover::before{
    content: url('../img/check_icon_95.png');
    display: inline-block;
    padding: 0 10px 0 0;
}
.u-two li:hover{
    color: #d55a5a;
}

button{
    margin: 69px 0 59px 25px;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background: #80b7b3;
    border-radius: 30px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    padding: 5px 30px;
}
button::after{
    content: url(../img/shape_2_9.png);
    display: inline-block;
}
button:hover{
    background-color: #3a5856;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
}
button:active{
    background-color: #818181;
    box-shadow: none;
}

.f-line{
    font-family: Arial;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 59px 0 21px 0;
}
.f-line::first-line {
    color: red;
}

.f-letter{
    font-family: Arial;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 21px 0;
}
.f-letter::first-letter {
    color: red;
    font-size: 25px;
}