*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ol li{list-style: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    background-color: #e8e8e8;
    padding: 163px 0 0 290px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

ul li{
    &::before{
        content: url('../img/check_icon_40.png');
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
    }
    font-size: 20px;
    line-height: 36px;
    color: #273d46;
}

.ul__no__hover{
    margin: 0 0 40px 0;
    & li:nth-child(1){text-decoration: line-through;}
    & li:nth-child(2){font-weight: 700;}
    & li:nth-child(3){font-style: italic;}
    & li:nth-child(4){text-transform: uppercase;}
}
.ul__hover {
    margin: 41px 0 69px 0;
    & li:hover::before{
        content: url('../img/check_icon_95.png');
        margin: 0 10px 0 0;
    }
    & li:hover{color: #d55a5a;}
}

.button {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background: #80b7b3;
    padding: 17px 30px;
    margin: 68px 0 59px 25px;
    border-radius: 30px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    &::after{
        content: url('../img/shape_2_9.png');
        margin: 0 0 0 11px;
    }
    &:hover{
        background: #3a5856;
        box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    }
    &:active{
        background-color: #818181;
        box-shadow: none;
    }
}

.line {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 59px 0 22px 0;
    &::first-line{color: red;}
}
.letter {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 21px 0 0 0;
    &::first-letter{color:red; font-size: 25px;}
}