*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ol li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    background: #e8e8e8;
}

.wrap{
    width: 1440px;
    height: 1700px;
    margin: 0 0 0 600px;
    background: url('../img/ellipse_1_copy_4.png') 80px 0px no-repeat;
}

h2{
    opacity: 0.6;
    font-family: Arial;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
    margin: 168px 694px 14px 671px;
    text-align: center;
}

h1{
    width: 721;
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    color: #273d46;
    width: 720px;
    margin: 0 auto;
    text-align: center;
}


.p-man{
    margin: 44px 320px 50px 299px;
}

.i-man{
    width: 821px;
    height: 541px;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
    outline:10px solid #ffffff;
}

.text{
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    margin: 57px 370px 32px 334px;
}

.list{
    margin: 32px 0 30px 330px;
}

.list li{
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 13px 0;
    background: url('../img/check_icon_37.png') left no-repeat;
    padding: 0 0 0 30px;
    list-style-type: none;
}

.li-put {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}
.li-a-det {
    font-style: italic;
    color: #80b7b3;
}
.li-tell {
    font-weight: 700;
    color: #273d46;
}
.li-ass {
    text-decoration: line-through;
    color: #273d46;
    opacity: 0.3;
}

.button{
    font-family: Arial;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    margin: 30px 911px 0 330px;
    text-align: center;
    border: 10px solid #80b7b3;
    border-radius: 30px;
    background: #80b7b3;
}

.strel{
    margin: 12px 0 0 0;
    opacity: 0.8;
}