@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nabla&display=swap');

body {
    min-height: 100vh;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: rgb(41,17,71);
    background: linear-gradient(70deg, rgba(41,17,71,1) 0%, rgba(107,74,153,1) 100%);
}

h1 {
    font-family: 'Nabla', cursive;
    margin: 100px 0 0 0;
    font-size: 10em;
}

.result-text {
    font-family: 'Nabla', cursive;
    font-size: 2em;
}